USE [master]
GO
/****** Object:  Database [QL_CuaHangMayTinh]    Script Date: 10/24/2024 7:37:34 AM ******/
CREATE DATABASE [QL_CuaHangMayTinh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'[QL_CuaHangMayTinh]', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\[QL_CuaHangMayTinh].mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'[QL_CuaHangMayTinh]_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\[QL_CuaHangMayTinh]_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_CuaHangMayTinh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_CuaHangMayTinh]
GO
/****** Object:  Table [dbo].[CHAMSOCKH]    Script Date: 10/24/2024 7:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAMSOCKH](
	[MANV] [char](5) NOT NULL,
	[MAKH] [char](5) NOT NULL,
	[GHICHU] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDH]    Script Date: 10/24/2024 7:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDH](
	[MA_CTDH] [char](5) NOT NULL,
	[MADH] [char](5) NOT NULL,
	[MASP] [char](5) NOT NULL,
	[NGAYTHUE] [datetime] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_CTDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHMUCSP]    Script Date: 10/24/2024 7:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUCSP](
	[MA_DANHMUC] [char](5) NOT NULL,
	[TENDANHMUC] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_DANHMUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 10/24/2024 7:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANG](
	[MADH] [char](5) NOT NULL,
	[NGAYTHUE] [datetime] NOT NULL,
	[NGAYTRA] [datetime] NOT NULL,
	[TONGTIEN] [money] NOT NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
	[PHUTHU] [money] NOT NULL,
	[GIAMGIA] [float] NULL,
	[MAKH] [char](5) NOT NULL,
	[MANV] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 10/24/2024 7:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](5) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[DIEN_THOAI] [nvarchar](20) NOT NULL,
	[DIACHI] [nvarchar](200) NOT NULL,
	[GIOITINH] [nvarchar](4) NULL,
	[XEPLOAI] [nvarchar](50) NULL,
	[TONGDONHANG] [int] NULL,
	[NGAYTAO] [datetime] NULL,
	[PASSWORD] [varchar](50) NULL,
	[TYPE] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KIEMTRASP]    Script Date: 10/24/2024 7:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KIEMTRASP](
	[MANV] [char](5) NOT NULL,
	[MASP] [char](5) NOT NULL,
	[TRANGTHAISP] [nvarchar](50) NULL,
	[GHICHU] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 10/24/2024 7:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](5) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[DIEN_THOAI] [nvarchar](20) NOT NULL,
	[GIOITINH] [nvarchar](4) NULL,
	[NGAYSINH] [datetime] NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[VAITRO] [nvarchar](30) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 10/24/2024 7:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [char](5) NOT NULL,
	[TENSP] [nvarchar](100) NOT NULL,
	[HINHANH] [nvarchar](300) NULL,
	[GIA] [money] NOT NULL,
	[SOLUONGTON] [int] NULL,
	[MOTA] [nvarchar](200) NULL,
	[MA_DANHMUC] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHAMSOCKH] ([MANV], [MAKH], [GHICHU]) VALUES (N'NV001', N'KH001', N'Khách hàng ...')
INSERT [dbo].[CHAMSOCKH] ([MANV], [MAKH], [GHICHU]) VALUES (N'NV001', N'KH017', N'Khách hàng ...')
INSERT [dbo].[CHAMSOCKH] ([MANV], [MAKH], [GHICHU]) VALUES (N'NV002', N'KH002', N'Khách hàng ...')
GO
INSERT [dbo].[CHITIETDH] ([MA_CTDH], [MADH], [MASP], [NGAYTHUE], [SOLUONG], [DONGIA]) VALUES (N'CT001', N'DH001', N'SP001', CAST(N'2024-07-07T00:00:00.000' AS DateTime), 1, 7000000.0000)
INSERT [dbo].[CHITIETDH] ([MA_CTDH], [MADH], [MASP], [NGAYTHUE], [SOLUONG], [DONGIA]) VALUES (N'CT002', N'DH001', N'SP002', CAST(N'2024-07-07T00:00:00.000' AS DateTime), 1, 8000000.0000)
INSERT [dbo].[CHITIETDH] ([MA_CTDH], [MADH], [MASP], [NGAYTHUE], [SOLUONG], [DONGIA]) VALUES (N'CT003', N'DH002', N'SP022', CAST(N'2024-07-07T00:00:00.000' AS DateTime), 2, 3200000.0000)
GO
INSERT [dbo].[DANHMUCSP] ([MA_DANHMUC], [TENDANHMUC]) VALUES (N'DM005', N'Acer')
INSERT [dbo].[DANHMUCSP] ([MA_DANHMUC], [TENDANHMUC]) VALUES (N'DM001', N'Apple')
INSERT [dbo].[DANHMUCSP] ([MA_DANHMUC], [TENDANHMUC]) VALUES (N'DM006', N'Asus')
GO
INSERT [dbo].[DONHANG] ([MADH], [NGAYTHUE], [NGAYTRA], [TONGTIEN], [TRANGTHAI], [PHUTHU], [GIAMGIA], [MAKH], [MANV]) VALUES (N'DH001', CAST(N'2024-07-07T00:00:00.000' AS DateTime), CAST(N'2024-07-08T00:00:00.000' AS DateTime), 15000000.0000, N'Mới', 0.0000, 0, N'KH001', N'NV001')
INSERT [dbo].[DONHANG] ([MADH], [NGAYTHUE], [NGAYTRA], [TONGTIEN], [TRANGTHAI], [PHUTHU], [GIAMGIA], [MAKH], [MANV]) VALUES (N'DH002', CAST(N'2024-07-07T00:00:00.000' AS DateTime), CAST(N'2024-07-08T00:00:00.000' AS DateTime), 6400000.0000, N'Mới', 0.0000, 0, N'KH002', N'NV002')
INSERT [dbo].[DONHANG] ([MADH], [NGAYTHUE], [NGAYTRA], [TONGTIEN], [TRANGTHAI], [PHUTHU], [GIAMGIA], [MAKH], [MANV]) VALUES (N'DH003', CAST(N'2024-07-07T00:00:00.000' AS DateTime), CAST(N'2024-07-10T00:00:00.000' AS DateTime), 17500000.0000, N'Mới', 0.0000, 0, N'KH003', N'NV003')
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [EMAIL], [DIEN_THOAI], [DIACHI], [GIOITINH], [XEPLOAI], [TONGDONHANG], [NGAYTAO], [PASSWORD], [TYPE]) VALUES (N'IZSZ7', N'van dep try', N'john@gmail.com', N'123', N'HCM', N'Nam', N'Mới', 0, CAST(N'2024-08-08T08:51:24.623' AS DateTime), N'123', N'user')
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [EMAIL], [DIEN_THOAI], [DIACHI], [GIOITINH], [XEPLOAI], [TONGDONHANG], [NGAYTAO], [PASSWORD], [TYPE]) VALUES (N'KH001', N'Lê Thị Minh Châu', N'lethic@gmail.com', N'0903456789', N'342 Tran Hung Dao, HCM', N'Nữ', N'Thường', 1, CAST(N'2024-07-07T00:00:00.000' AS DateTime), N'123', N'user')
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [EMAIL], [DIEN_THOAI], [DIACHI], [GIOITINH], [XEPLOAI], [TONGDONHANG], [NGAYTAO], [PASSWORD], [TYPE]) VALUES (N'KH002', N'Pham Van Dương', N'phamvand@gmail.com', N'0904567890', N'101 Nguyen Huu Canh, HCM', N'Nam', N'Thường', 1, CAST(N'2024-07-07T00:00:00.000' AS DateTime), N'123', N'user')
GO
INSERT [dbo].[KIEMTRASP] ([MANV], [MASP], [TRANGTHAISP], [GHICHU]) VALUES (N'NV001', N'SP051', N'Mới', N'Sản phẩm mới')
INSERT [dbo].[KIEMTRASP] ([MANV], [MASP], [TRANGTHAISP], [GHICHU]) VALUES (N'NV002', N'SP052', N'Mới', N'Sản phẩm mới')
INSERT [dbo].[KIEMTRASP] ([MANV], [MASP], [TRANGTHAISP], [GHICHU]) VALUES (N'NV002', N'SP066', N'Mới', N'Sản phẩm mới')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [EMAIL], [DIEN_THOAI], [GIOITINH], [NGAYSINH], [DIACHI], [VAITRO], [PASSWORD]) VALUES (N'NV001', N'Đinh Ngọc Huy', N'dinhngochuy1125@gmail.com', N'0707369304', N'Nam', CAST(N'1999-11-12T00:00:00.000' AS DateTime), N'23 Nguyễn Hữu Tiến, Tân Phú, TP.HCM', N'Employee', N'123')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [EMAIL], [DIEN_THOAI], [GIOITINH], [NGAYSINH], [DIACHI], [VAITRO], [PASSWORD]) VALUES (N'NV002', N'Phạm Đình Văn', N'johnevan1902@gmail.com', N'0909875645', N'Nam', CAST(N'1995-05-06T00:00:00.000' AS DateTime), N'456 Lê Trọng Tấn, Tân Phú, TP.HCM', N'Employee', N'123')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [EMAIL], [DIEN_THOAI], [GIOITINH], [NGAYSINH], [DIACHI], [VAITRO], [PASSWORD]) VALUES (N'NV003', N'Lầu Trí Kiệt', N'luukiet51179@gmail.com', N'0903456789', N'Nam', CAST(N'1990-03-04T00:00:00.000' AS DateTime), N'789 Tran Hung Dao, Quận 1, TP.HCM', N'Employee', N'123')
GO
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [HINHANH], [GIA], [SOLUONGTON], [MOTA], [MA_DANHMUC]) VALUES (N'SP001', N'Dell XPS 13', N'dell_xps.png', 20000000.0000, 10, N'Laptop Dell XPS 13 v?i thi?t k? m?ng nh? và hi?u su?t cao.', N'DM003')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [HINHANH], [GIA], [SOLUONGTON], [MOTA], [MA_DANHMUC]) VALUES (N'SP002', N'MacBook Air M2', N'apple2.png', 29000000.0000, 18, N'MacBook Air M2 v?i chip M2, màn hình Retina và th?i gian s? d?ng pin lâu.', N'DM001')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [HINHANH], [GIA], [SOLUONGTON], [MOTA], [MA_DANHMUC]) VALUES (N'SP003', N'HP Spectre x360', N'hp_spectre.png', 35000000.0000, 17, N'HP Spectre x360, laptop 2 trong 1 v?i thi?t k? d?p và màn hình c?m ?ng.', N'DM002')
GO
SET ANSI_PADDING ON
GO


----- SQL Query
----- làm theo yêu cầu đề tài từ đây


-------------------------------------------------------------
/****** Object:  Index [UQ__DANHMUCS__C155821D097F9A11]    Script Date: 10/24/2024 7:37:34 AM ******/
ALTER TABLE [dbo].[DANHMUCSP] ADD UNIQUE NONCLUSTERED 
(
	[TENDANHMUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACHHAN__161CF724DC3D3768]    Script Date: 10/24/2024 7:37:34 AM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NHANVIEN__161CF724DEDD8AEF]    Script Date: 10/24/2024 7:37:34 AM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT ('user') FOR [TYPE]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT ('123') FOR [PASSWORD]
GO
ALTER TABLE [dbo].[CHAMSOCKH]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[CHAMSOCKH]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CHITIETDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_MADH] FOREIGN KEY([MADH])
REFERENCES [dbo].[DONHANG] ([MADH])
GO
ALTER TABLE [dbo].[CHITIETDH] CHECK CONSTRAINT [FK_CTDH_MADH]
GO
ALTER TABLE [dbo].[CHITIETDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_MASP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETDH] CHECK CONSTRAINT [FK_CTDH_MASP]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_MAKH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_MAKH]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_MANV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_MANV]
GO
ALTER TABLE [dbo].[KIEMTRASP]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[KIEMTRASP]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_MADM] FOREIGN KEY([MA_DANHMUC])
REFERENCES [dbo].[DANHMUCSP] ([MA_DANHMUC])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_MADM]
GO
ALTER TABLE [dbo].[CHITIETDH]  WITH CHECK ADD CHECK  (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETDH]  WITH CHECK ADD CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD CHECK  (([PHUTHU]>=(0)))
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD CHECK  (([TONGTIEN]>=(0)))
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD CHECK  (([TONGDONHANG]>=(0)))
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_KHACHHANG_GIOITINH] CHECK  (([GIOITINH]=N'Khác' OR [GIOITINH]=N'Nữ' OR [GIOITINH]=N'Nam'))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CK_KHACHHANG_GIOITINH]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_NHANVIEN_GIOITINH] CHECK  (([GIOITINH]='Khác' OR [GIOITINH]='N?' OR [GIOITINH]='Nam'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_NHANVIEN_GIOITINH]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD CHECK  (([GIA]>=(0)))
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD CHECK  (([SOLUONGTON]>=(0)))
GO
USE [master]
GO
