
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>LapZone - Cửa hàng bán lẻ laptop</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Main CSS File -->
    <link href="../../Content/css/main.css" rel="stylesheet">
</head>

<body class="index-page">
    <main class="main">
        <!-- Hero Section -->
        <section id="hero" class="hero section">
            <div class="hero-bg">

                <img src="~/Content/img/home-background.png" />
            </div>
            <div class="container text-center">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <h1 data-aos="fade-up">Welcome to <span>LapZone</span></h1>
                    <p data-aos="fade-up" data-aos-delay="100">Khám phá các mẫu laptop mới nhất với hiệu năng mạnh mẽ và thiết kế hiện đại.<br></p>
                    <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                        <a href="#about" class="btn-get-started">Xem sản phẩm</a>
                    </div>
                    <img src="../../Content/img/home-header-icon.webp" class="img-fluid hero-img mt-5" width="300" alt="" data-aos="zoom-out" data-aos-delay="300">
                </div>
            </div>

        </section><!-- /Hero Section -->
        <!-- Featured Services Section -->
        <section id="featured-services" class="featured-services section light-background">

            <div class="container">

                <div class="row gy-4">

                    <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="service-item d-flex">
                            <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
                            <div>
                                <h4 class="title"><a href="#" class="stretched-link">Laptop Mới Nhất</a></h4>
                                <p class="description">Khám phá các mẫu laptop mới nhất với hiệu năng mạnh mẽ và thiết kế hiện đại.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Service Item -->


                    <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="service-item d-flex">
                            <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>
                            <div>
                                <h4 class="title"><a href="#" class="stretched-link">Dịch Vụ Bảo Hành</a></h4>
                                <p class="description">Cung cấp dịch vụ bảo hành chuyên nghiệp, hỗ trợ kỹ thuật tận tình.</p>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="service-item d-flex">
                            <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
                            <div>
                                <h4 class="title"><a href="#" class="stretched-link">Khuyến Mãi Đặc Biệt</a></h4>
                                <p class="description">Nhận ngay các ưu đãi và quà tặng hấp dẫn khi mua laptop tại cửa hàng.</p>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                </div>

            </div>

        </section><!-- /Featured Services Section -->
        <!-- About Section -->
        <section id="about" class="about section">

            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
                        <p class="who-we-are">Giới Thiệu Về Chúng Tôi</p>
                        <h3>LapZone - Thế Giới Laptop</h3>
                        <p class="fst-italic">
                            Mua sắm laptop giá tốt, chính hãng, đa dạng mẫu mã tại LapZone.
                        </p>
                        <ul>
                            <li><i class="bi bi-check-circle"></i> <span>Cam kết sản phẩm chính hãng 100%, bảo hành toàn quốc.</span></li>
                            <li><i class="bi bi-check-circle"></i> <span>Miễn phí vận chuyển và lắp đặt tận nơi.</span></li>
                            <li><i class="bi bi-check-circle"></i> <span>Hỗ trợ trả góp 0% và nhiều chương trình ưu đãi độc quyền.</span></li>
                        </ul>
                        <a href="#" class="read-more"><span>Xem Thêm</span><i class="bi bi-arrow-right"></i></a>
                    </div>

                    <div class="col-lg-6 about-images" data-aos="fade-up" data-aos-delay="200">
                        <div class="row gy-4">
                            <div class="col-lg-6" >
                                <img src="../../Content/img/about-company-b.jpg"  width="305" height="458"  alt="">
                            </div>
                            <div class="col-lg-6">
                                <div class="row gy-4">
                                    <div class="col-lg-12">
                                        <img src="../../Content/img/about-company-a.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-lg-12">
                                        <img src="../../Content/img/about-company-c.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </section><!-- /About Section -->
        <!-- Clients Section -->
        <section id="clients" class="clients section">

            <div class="container" data-aos="fade-up">

                <div class="row gy-4">

                    <div class="col-xl-2 col-md-3 col-6 client-logo">
                        <img src="../../Content/img/clients/client-1.png" class="img-fluid" alt="">
                    </div><!-- End Client Item -->

                    <div class="col-xl-2 col-md-3 col-6 client-logo">
                        <img src="../../Content/img/clients/client-2.png" class="img-fluid" alt="">
                    </div><!-- End Client Item -->

                    <div class="col-xl-2 col-md-3 col-6 client-logo">
                        <img src="../../Content/img/clients/client-3.png" class="img-fluid" alt="">
                    </div><!-- End Client Item -->

                    <div class="col-xl-2 col-md-3 col-6 client-logo">
                        <img src="../../Content/img/clients/client-4.png" class="img-fluid" alt="">
                    </div><!-- End Client Item -->

                    <div class="col-xl-2 col-md-3 col-6 client-logo">
                        <img src="../../Content/img/clients/client-5.png" class="img-fluid" alt="">
                    </div><!-- End Client Item -->

                    <div class="col-xl-2 col-md-3 col-6 client-logo">
                        <img src="../../Content/img/clients/client-6.png" class="img-fluid" alt="">
                    </div><!-- End Client Item -->

                </div>

            </div>

        </section><!-- /Clients Section -->
        
        <section id="features" class="features section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Tính Năng Nổi Bật</h2>
                <p>Khám phá những tính năng nổi bật của các dòng laptop cao cấp tại LapZone</p>
            </div><!-- End Section Title -->

            <div class="container">
                <div class="row justify-content-between">

                    <div class="col-lg-5 d-flex align-items-center">

                        <ul class="nav nav-tabs" data-aos="fade-up" data-aos-delay="100">
                            <li class="nav-item">
                                <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#features-tab-1">
                                    <i class="bi bi-laptop"></i>
                                    <div>
                                        <h4 class="d-none d-lg-block">Hiệu Năng Vượt Trội</h4>
                                        <p>
                                            Những dòng laptop với cấu hình mạnh mẽ, đáp ứng nhu cầu làm việc, học tập và giải trí đa nhiệm.
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-2">
                                    <i class="bi bi-shield-check"></i>
                                    <div>
                                        <h4 class="d-none d-lg-block">Bảo Mật Tối Ưu</h4>
                                        <p>
                                            Trang bị các công nghệ bảo mật tiên tiến, bảo vệ dữ liệu cá nhân và doanh nghiệp khỏi mọi nguy cơ.
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-3">
                                    <i class="bi bi-lightbulb"></i>
                                    <div>
                                        <h4 class="d-none d-lg-block">Thiết Kế Mỏng Nhẹ</h4>
                                        <p>
                                            Laptop với thiết kế hiện đại, mỏng nhẹ và thời trang, dễ dàng mang theo bên mình mọi lúc mọi nơi.
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul><!-- End Tab Nav -->

                    </div>

                    <div class="col-lg-6">

                        <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

                            <div class="tab-pane fade active show" id="features-tab-1">
                                <img src="/Content/img/features-a.jpg" alt="Hiệu Năng Vượt Trội" class="img-fluid">
                            </div><!-- End Tab Content Item -->

                            <div class="tab-pane fade" id="features-tab-2">
                                <img src="/Content/img/features-b.jpg" alt="Bảo Mật Tối Ưu" class="img-fluid">
                            </div><!-- End Tab Content Item -->

                            <div class="tab-pane fade" id="features-tab-3">
                                <img src="/Content/img/features-c.jpg" alt="Thiết Kế Mỏng Nhẹ" class="img-fluid">
                            </div><!-- End Tab Content Item -->
                        </div>

                    </div>

                </div>

            </div>

        </section><!-- /Features Section -->
        <!-- Services Section -->
        <section id="services" class="services section light-background">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Dịch Vụ</h2>
                <p>Chúng tôi cung cấp các giải pháp toàn diện giúp bạn lựa chọn và sở hữu laptop phù hợp nhất</p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row g-5">

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="service-item item-cyan position-relative">
                            <i class="bi bi-activity icon"></i>
                            <div>
                                <h3>Tư vấn chọn laptop</h3>
                                <p>Chúng tôi sẽ giúp bạn tìm kiếm chiếc laptop phù hợp với nhu cầu công việc, học tập hoặc giải trí, với nhiều tùy chọn giá cả hợp lý.</p>
                                <a href="#" class="read-more stretched-link">Tìm hiểu thêm <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="service-item item-orange position-relative">
                            <i class="bi bi-broadcast icon"></i>
                            <div>
                                <h3>Dịch vụ bảo hành và sửa chữa</h3>
                                <p>Cung cấp dịch vụ bảo hành, sửa chữa chuyên nghiệp, nhanh chóng và uy tín cho mọi dòng laptop với linh kiện chính hãng.</p>
                                <a href="#" class="read-more stretched-link">Tìm hiểu thêm <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="service-item item-teal position-relative">
                            <i class="bi bi-easel icon"></i>
                            <div>
                                <h3>Trả góp linh hoạt</h3>
                                <p>Chúng tôi cung cấp các gói trả góp với lãi suất ưu đãi, giúp bạn dễ dàng sở hữu chiếc laptop mong muốn mà không lo gánh nặng tài chính.</p>
                                <a href="#" class="read-more stretched-link">Tìm hiểu thêm <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="service-item item-red position-relative">
                            <i class="bi bi-bounding-box-circles icon"></i>
                            <div>
                                <h3>Bảo mật và phần mềm</h3>
                                <p>Cài đặt và cung cấp các phần mềm bảo mật, giúp bảo vệ dữ liệu và thông tin cá nhân của bạn trong quá trình sử dụng laptop.</p>
                                <a href="#" class="read-more stretched-link">Tìm hiểu thêm <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
                        <div class="service-item item-indigo position-relative">
                            <i class="bi bi-calendar4-week icon"></i>
                            <div>
                                <h3>Giao hàng tận nơi</h3>
                                <p>Dịch vụ giao hàng nhanh chóng và an toàn trên toàn quốc, đảm bảo laptop của bạn đến tay trong thời gian sớm nhất.</p>
                                <a href="#" class="read-more stretched-link">Tìm hiểu thêm <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="600">
                        <div class="service-item item-pink position-relative">
                            <i class="bi bi-chat-square-text icon"></i>
                            <div>
                                <h3>Hỗ trợ kỹ thuật 24/7</h3>
                                <p>Đội ngũ hỗ trợ kỹ thuật sẵn sàng giải đáp và giúp bạn khắc phục các vấn đề liên quan đến laptop mọi lúc, mọi nơi.</p>
                                <a href="#" class="read-more stretched-link">Tìm hiểu thêm <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                </div>

            </div>

        </section><!-- /Testimonials Section -->
        <!-- Contact Section -->
        <section id="contact" class="contact section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Contact</h2>
                <p>Liên hệ chúng tôi để được hỗ trợ một cách nhanh chóng nhất.</p>
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="row gy-4">

                    <div class="col-lg-6">
                        <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
                            <i class="bi bi-geo-alt"></i>
                            <h3>Address</h3>
                            <p>140 Lê Trọng Tấn, Tân Phú, Thành phố Hồ Chí Minh</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
                            <i class="bi bi-telephone"></i>
                            <h3>Call Us</h3>
                            <p>+84 0942976692</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
                            <i class="bi bi-envelope"></i>
                            <h3>Email Us</h3>
                            <p>ppkhanh190404@gmail.com</p>
                        </div>
                    </div><!-- End Info Item -->

                </div>

                <div class="row gy-4 mt-1">
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48389.78314118045!2d-74.006138!3d40.710059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a22a3bda30d%3A0xb89d1fe6bc499443!2sDowntown%20Conference%20Center!5e0!3m2!1sen!2sus!4v1676961268712!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 400px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div><!-- End Google Maps -->
                    <div class="col-lg-6">
                        <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="400">
                            <div class="row gy-4">

                                <div class="col-md-6">
                                    <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                                </div>

                                <div class="col-md-6 ">
                                    <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                                </div>

                                <div class="col-md-12">
                                    <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                                </div>

                                <div class="col-md-12">
                                    <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                                </div>

                                <div class="col-md-12 text-center">
                                    <div class="loading">Loading</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">Your message has been sent. Thank you!</div>

                                    <button type="submit">Send Message</button>
                                </div>

                            </div>
                        </form>
                    </div><!-- End Contact Form -->

                </div>

            </div>

        </section><!-- /Contact Section -->

    </main>

</body>

</html>

